#main {
    flex-direction: var(--direction, row);
    flex-wrap: wrap;
    gap: 1em;
    overflow: scroll;
    justify-content: flex-start;
    align-content: flex-start;

    padding: 2em;

    & .content {
        display: flex;
        flex-direction: column;
        align-items: center;
        margin: 0;
        padding: 0.5em;
        border-radius: 0.5em;

        &:is(:hover) {
            background-color: hsla(var(--bg-color-hs), var(--bg-select-lightness), 0.5);
        }

        & img {
            height: 5em;
            width: auto;
        }

        & figcaption {
            font-size: 0.75em;
            max-width: 5em;
            text-align: center;
            text-wrap: nowrap;
        }

    }

}